#map {
  height: 100vh
}
html, body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*top bar style*/
.top-bar {
  height: 40px;
  background-color: #484848;
  color: #fff;
  display: flex;
}
.header {
  margin-top: 10px;
  margin-left: 40%;
}
.menu {
  margin-top: 7px;
  margin-left: 25px;
  cursor: pointer;
}
/*togle menu style*/
#main {
    transition: margin-left .5s;
}
#closebtn:hover {
  background-color: #303030;
  color: #fff;
}
.sidenav {
  padding-top: 5px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303030;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 0px 8px 25px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;

}

.sidenav a:hover {
    color: #818181;
    background-color: #fff;
}

.sidenav .closebtn {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 25px;
  margin-left: 50px;
}
#search:hover {
  background-color: #303030;
}
