
html, body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.map {
  height: 96vh;
}
/*top bar style*/
.top-bar {
  height: 30px;
  background-color: #484848;
  color: #fff;
}
.header {
  margin-left: 25%;
  padding-top: 5px;
  text-align: center;
  margin-top: 0;
}
.menu {
  margin-top: 3px;
  margin-left: 15px;
  cursor: pointer;
}
/*togle menu style*/
#main {
  margin-left: 250px;
}
#closebtn:hover, #closebtn:focus {
  color: #303030;
}
.sidenav {
  width: 250px;
  padding-top: 5px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303030;
  overflow-x: hidden;
}

.sidenav button{
  margin-left: -8px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: #303030;
  color: #818181;
  width: 250px;
}
.filter {
  width: 195px;
  margin-top: 5px;
  padding-left:15px;
  margin-left: 10px;
}
.filter-field {
  margin-top: -5px;
  height: 60px;
  width: 250px;
  position: fixed;
  background: #303030;

}
#place-title {
  color: #484848;
  font-size: 15px;
}
.list-header {
  margin-top: 5px;
  margin-left: 25%;
  color: #fff;
}
ul {
  margin-top: 55px;
  padding: 0;
}
.sidenav li {
  list-style: none;
  text-align: center;
}
.sidenav button:hover, button:focus {
    cursor: pointer;
    color: #484848;
    background-color: #fff;
}

.sidenav .closebtn {
  color: #818181;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 30px;
}
@media screen and (max-width:500px) {
  html, body {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #303030;
  }
  #main {
    margin-left: 0;
  }
  .map-container {
    width: 100%;
    height: 100%;
  }
  #map {
    width: 485px;
    height: 325px;

  }
  .top-bar {
    width: 485px;
    height: 35px;
  }
  .header {
    font-size: 20px;
    margin-left: 35%;
    margin-right: 30%
  }
  .filter {
    height: 15px;
  }
  .list-header {
    font-size: 20px;
    margin-top: -10px;
    margin-left: 35%;
    color: #fff;
  }
  .sidenav {
    width: 100%;
    padding-top: 5px;
    height: 50%;
    top: 410px;
    left: 0;
    background-color: #303030;

  }
  .sidenav button{
    margin-left: -8px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background-color: #303030;
    color: #818181;
    width: 100%;
  }
  .sidenav button:hover, button:focus {
      cursor: pointer;
      color: #484848;
      background-color: #fff;
  }
  .filter-field {
    width: 100%;
  }
  .filter {
    width: 50%;
    margin-top: 5px;
    padding-left:15px;
    margin-left: 20%;
  }
}
